= semantic_form_for resource do |f|
  = render "shared/error_messages", :target => resource
  = f.inputs do
  <%- for attribute in model_attributes -%>
    = f.input :<%= attribute.name %>
  <%- end -%>
  = f.buttons do
    = f.commit_button
