- title t('.title')

.topbar
  %h2
    = t('.title')
  .links
    %ol
      <%- if actions? :new -%>
      - if can? :create, <%= class_name %>
        %li= link_to t('link.new'), <%= item_path :action => :new %>
      <%- end -%>

= paginate collection

.autoscroll
  %table.list
    %thead
      %tr
        %th id
        <%- for attribute in model_attributes -%>
        %th= sort_link @q, :<%= attribute.name %>
        <%- end -%>
    %tbody
      - @<%= instances_name %>.each do |<%= instance_name %>|
        %tr{:class => cycle("odd", "even")}
          %td= link_to "##{<%= instance_name %>}.id"
          <%- for attribute in model_attributes -%>
          %td= <%= instance_name %>.<%= attribute.name %>
          <%- end -%>
          %td.buttons
            <%- if action? :edit -%>
            = link_to t('link.show'), <%= item_path :action => :edit, :instance_variable => true %>, :class => 'icon icon-edit' if can? :update, <%= instance_name %>
            <%- end -%>
            <%- if action? :destroy -%>
            = link_to t('link.destroy'), <%= item_path :instance_variable => true %>, :confirm => t('views.are_you_sure'), :method => :delete, :class => 'icon icon-del' if can? :destroy, <%= instance_name %>
            <%- end -%>

= paginate collection

