- title t('.title')

.topbar
  %h2
    = t('.title')
  .links
    %ol
      <%- if actions? :new -%>
      - if can? :create, <%= class_name %>
        %li= link_to t('link.new'), <%= item_path :action => :new %>
      <%- end -%>

= paginate @<%= instances_name %>

.autoscroll
  %table.list
    %thead
      %tr
        %th id
        <%- for attribute in model_attributes -%>
        %th= sort_link @q, :<%= attribute.name %>
        <%- end -%>
        %th= t('views.operation')
    %tbody
      - @<%= instances_name %>.each do |<%= instance_name %>|
        %tr{:class => cycle("odd", "even")}
          %td= link_to "##{<%= instance_name %>.id}", <%= instance_name %>
          <%- for attribute in model_attributes -%>
          %td= <%= instance_name %>.<%= attribute.name %>
          <%- end -%>
          %td.buttons
            <%- if action? :edit -%>
            - if can? :update, <%= instance_name %>
              = link_to t('link.edit'), <%= item_path :action => :edit %>, :class => 'icon icon-edit'
            <%- end -%>
            <%- if action? :destroy -%>
            - if can? :destroy, <%= instance_name %>
              = link_to t('link.destroy'), <%= item_path %>, :confirm => t('views.are_you_sure'), :method => :delete, :class => 'icon icon-del'
            <%- end -%>

= paginate @<%= instances_name %>

