- title t('.title')

.topbar
  %h2
    = t('.title')
  .links
    %ol
      <%- if action? :index -%>
      %li= link_to t('link.index'), <%= items_path %>
      <%- end -%>
      <%- if action? :edit -%>
      - if can? :update, @<%= instance_name %>
        %li= link_to t('link.edit'), <%= item_path :action => :edit, :instance_variable => true %>
      <%- end -%>
      <%- if action? :destroy -%>
      - if can? :destroy, @<%= instance_name %>
        %li= link_to t('link.destroy'), <%= item_path :instance_variable => true %>, :confirm => t('views.are_you_sure'), :method => :delete
      <%- end -%>

= semantic_attributes_for @<%= instance_name %> do |attr|
  = attr.attributes do
    <%- for attribute in model_attributes -%>
    = attr.attribute :<%= attribute.name %>
    <%- end -%>

